<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.changchong.site.mapper.MicroImageMapper">
  <resultMap id="BaseResultMap" type="com.changchong.site.model.MicroImage">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="img_url" jdbcType="VARCHAR" property="imgUrl" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="creater" jdbcType="INTEGER" property="creater" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modifier" jdbcType="INTEGER" property="modifier" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, img_url, status, creater, create_time, modifier, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
    开发负责人：zhoumin
    功能说明：根据主键获取一条数据库记录
    是否有缓存：无
    -->
    select 
    <include refid="Base_Column_List" />
    from t_micro_image
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
    开发负责人：zhoumin
    功能说明：根据主键删除数据库的记录
    是否有缓存：无
    -->
    delete from t_micro_image
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyProperty="id" parameterType="com.changchong.site.model.MicroImage" useGeneratedKeys="true">
    <!--
    开发负责人：zhoumin
    功能说明：插入数据库记录
    是否有缓存：无
    -->
    insert into t_micro_image (id, img_url, status, 
      creater, create_time, modifier, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{imgUrl,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{creater,jdbcType=INTEGER}, now(), #{modifier,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyProperty="id" parameterType="com.changchong.site.model.MicroImage" useGeneratedKeys="true">
    <!--
    开发负责人：zhoumin
    功能说明：选择性插入数据库记录
    是否有缓存：无
    -->
    insert into t_micro_image
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="imgUrl != null">
        img_url,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="creater != null">
        creater,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="imgUrl != null">
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="creater != null">
        #{creater,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        now(),
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.changchong.site.model.MicroImage">
    <!--
    开发负责人：zhoumin
    功能说明：根据主键来更新对应数据库字段
    是否有缓存：无
    -->
    update t_micro_image
    <set>
      <if test="imgUrl != null">
        img_url = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="creater != null">
        creater = #{creater,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.changchong.site.model.MicroImage">
    <!--
    开发负责人：zhoumin
    功能说明：根据主键来更新数据库记录
    是否有缓存：无
    -->
    update t_micro_image
    set img_url = #{imgUrl,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      creater = #{creater,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="queryMicroImages" resultType="string">
    select img_url
    from t_micro_image
    where status > 0
  </select>
</mapper>