<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.changchong.site.mapper.PortLogMapper">
  <resultMap id="BaseResultMap" type="com.changchong.site.model.PortLog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="port_id" jdbcType="INTEGER" property="portId" />
    <result column="current_electric" jdbcType="DECIMAL" property="currentElectric" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, port_id, current_electric, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_port_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_port_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="com.changchong.site.model.PortLog">
    insert into t_port_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="portId != null">
        port_id,
      </if>
      <if test="currentElectric != null">
        current_electric,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="portId != null">
        #{portId,jdbcType=INTEGER},
      </if>
      <if test="currentElectric != null">
        #{currentElectric,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.changchong.site.model.PortLog">
    update t_port_log
    <set>
      <if test="portId != null">
        port_id = #{portId,jdbcType=INTEGER},
      </if>
      <if test="currentElectric != null">
        current_electric = #{currentElectric,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.changchong.site.model.PortLog">
    update t_port_log
    set port_id = #{portId,jdbcType=INTEGER},
      current_electric = #{currentElectric,jdbcType=DECIMAL},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>